.seatingTable
{
	overflow-x: scroll;
}

.table
{
	white-space: nowrap;
}

.sticky
{
	position: sticky;
	left: 0;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
	background: #f5f5f5;
	z-index: 1;
}

.highlight
{
	width: 20em;
}