.tournamentInfoEntry {
	display: flex;
	justify-content: space-around;
}

.tournamentInfoEntry h1 {
	margin-top: 0;
}

.tournamentInfoEntry label:not(:first-child) {
	display: block;
	margin-top: 10px;
}

.tournamentInfoEntry .button {
	text-align: right;
}

.tournamentInfoEntry .pointInput {
	width: 7em;
	margin-left: 10px;
}

.rulesetExamples {
	width: 100%;
}