.playerEntry {
	margin: 0 auto;
	width: 60%;
}

.playerEntry h1 {
	margin-top: 0;
}

.playerEntry p {
	margin-top: 0;
}

.playerEntry textarea
{
	width: 35em;
	height: 35em;
}

.button {
	text-align: right;
}