.entrance
{
	margin-top: 3em;
	display: flex;
	justify-content: space-around;
}

.entrance h1 {
	text-align: center;
}

.entrance .space {
	width: 100%;
	text-align: center;
}

.entrance .button
{
	display: block;
	width: 100%;
	min-height: 64px;
	/* border: 1px solid rgb(184, 122, 141);
	background: linear-gradient(0deg, rgba(255,170,195,1) 0%, rgba(252,168,255,1) 100%);
	border-radius: 3px; */
	font-weight: bold;
}

.buttonContainer
{
	margin: 20px;
}

.loadFile
{
	display: none;
}