.entrance
{
	margin-top: 3em;
	display: flex;
	justify-content: space-around;
}

.entrance h1 {
	text-align: center;
}

.entrance .space {
	width: 100%;
	text-align: center;
}

.entrance .button
{
	display: block;
	width: 100%;
	min-height: 64px;
	font-weight: bold;
}

.buttonContainer
{
	margin: 20px;
}

.loadFile
{
	display: none;
}