.seatingTemplateEntry {
	margin-top: 3em;
	display: flex;
	justify-content: space-around;
}

.seatingTemplateEntry p {
	margin-top: 0;
}

.seatingTemplateEntry .button {
	text-align: right;
}

.seatingTemplateEntry .workspace {
	align-items: start;
}

.seatingTemplateEntry .toolbar {
	width: 15vw;
}

.seatingTemplateEntry .toolbar button {
	width: 100%;
}