.body {
	width: 65em;
	margin: 0 auto;
}

.accordionLabel {
	display: flex;
	justify-content: space-between;
}

.tableLabel {
	font-weight: bold;
	margin-right: 1em;
}

.statusLabel {
	font-weight: bold;
}

.statusLabel.unfinished {
	visibility: hidden;
}